
@{
    ViewData["Title"] = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="b">

        <img src="~/images/logo.jpg" style="width:15%;height:203px;float:left;margin-right:-134px;padding-top: 22px;"><p style="font-size:250%;color:white;font-family:arial;text-align:center;margin-top:-22px;padding-bottom:13px;padding-top:80px">Loss Prevention In Stock Market</p>
        <div>
            <ul class="navlist">
                <li> <a asp-controller="Home" asp-action="Index">VIEW LIVE STOCK ></a></li>
                <li> <a asp-controller="Home" asp-action="Buystock">BUY STOCK  ></a></li>
                <li><a asp-controller="Home" asp-action="Selldata">SELL STOCK  ></a></li>
                <li><a asp-controller="Home" asp-action="Managestock">MARKET TRENDS  ></a></li>
                <li><a asp-controller="Home" asp-action="Aboutus">ABOUT US  ></a></li>
                <li> <a asp-controller="Home" asp-action="Login" onclick="logout()">LOGOUT  ></a></li>
            </ul>
        </div>
    </div>
<div class="back">

    <div class="w3-content w3-section" style="max-width:100%;height:5%;">


        <img class="mySlides" src="~/images/li.jpeg" style="width:100%;height:322px;">
        <img class="mySlides" src="~/images/km.jpg" style="width:100%;height:322px;">
        <img class="mySlides" src="~/images/Invest_.jpg" style="width:100%;height:322px;">
        <img class="mySlides" src="~/images/klm.jpg" style="width:100%;height:322px;">
        <img class="mySlides" src="~/images/l.png" style="width:100%;height:322px;">
        <img class="mySlides" src="~/images/lip.jpg" style="width:100%;height:322px;">
        <img class="mySlides" src="~/images/pixjpeg.jpeg" style="width:100%;height:322px;">
        <img class="mySlides" src="~/images/pl.jpg" style="width:100%;height:322px;">
        <img class="mySlides" src="~/images/us.jpg" style="width:100%;height:322px;">
        <img class="mySlides" src="~/images/stock.jpeg" style="width:100%;height:322px;">

    </div>
    <div>

        <a asp-controller="Home" asp-action="Managestock"><img alt="Manage" src="../images/login.png" style=" width: 15px;height:15px;" /></a>


    </div>
    <div class="m">
        <h6 style="font-size:140%;color:white;font-family:arial;text-align:center;background-color:black;">Why (LPISM)?</h6><br />

        <img src="~/images/nm.jpg" style="width:45%;height:300px;float:left;"><marquee width="50%" direction="up" height="100%" scrollamount="1"> <p> Our greatest value and asset is the trust of thousands of investors on our timely, accurate, and professional brokerage services.Loss prevention in stock market" helps the users in detecting the market trend patterns.The main objective of this Web is to develop an online Solution for the users to see stock market movements. Users can able to see the trends because everyday billions of dollars are traded it helps the investors to study the behaviour of the market. Entire companies rise and fall daily based on the behaviour of the market so we provide them a solution to prevent from a loss. Few people knew how the market worked or reacted. Perhaps a better understanding of stock market prediction might help the user to invest</p><br /></marquee>


        <h6 style="font-size:140%;color:white;font-family:arial;text-align:center;background-color:black;">Our Mission</h6><br />

        <marquee width="50%" direction="up" height="200%" scrollamount="1"> <p>Our mission is to enable our clients to make prudent investment decisions by providing real-time financial information and timely investment advice.</p><br /></marquee><img src="~/images/login.png" style="width:45%;height:300px;">



        <h6 style="font-size:140%;color:white;font-family:arial;text-align:center;background-color:black;">Guide to New Investor</h6><br />

        <img src="~/images/chart.gif" style="width:45%;height:215px;float:left;"><marquee width="50%" direction="up" height="200%" scrollamount="1">  <p>The Stock Exchange is a place where shares of listed companies are bought and sold. Companies list themselves on the stock exchange to raise capital. Shares of companies are traded, after they are listed, through a process of Initial Public Offering (IPO) or Secondary Public Offering (SPO). The share purchase represents ownership of the shareholder in a company to the extent of amount contributed by the investor to the capital of that company.</p><br /></marquee>
        <h6 style="font-size:140%;color:white;font-family:arial;text-align:center;background-color:black;">Stock Investment Basics </h6><br />


        <h6 style="font-size:100%;color:white;font-family:arial;"> 1-Diversify Your Investment:</h6>

        <p style="margin-left:290px;margin-right: 290px;"> The best way to minimise risk is to diversify your investments across various investment products. If equities are your sole investments, it makes sense to diversify between different sectors and companies. In this way, loss incurred on some investments can be absorbed or compensated by gains made in others.</p><br />

        <h6 style="font-size:100%;color:white;font-family:arial;"> 2-Understand Your Risk Profile:</h6>

        <p style="margin-left:290px;margin-right: 290px;">As an investor, you must choose between how much risk you can take as all investments carry a certain amount of risk. Consider an investment product not only according to your requirements and how much capital you can invest, but also according to your tolerance of risk. Depending on how ‘risk averse’ or ‘risk-prone’ an investor you are, you may choose an investment accordingly.</p><br />

        <h6 style="font-size:100%;color:white;font-family:arial;">3-Do Your Homework Before You Invest:</h6>

        <p style="margin-left:290px;margin-right: 290px;">To invest well, you must gather and understand all relevant information regarding the investment you are going to make. This includes studying companies’ annual reports, accounts and other statements while keeping abreast of what is happening in the said sector or industry. Consult your investment adviser/ stockbroker to get the latest market information about shares you wish to buy or sell. Do not buy into rumours or be pressured by anyone’s grave but unfounded recommendations before making an investment decision.To invest well, you must gather and understand all relevant information regarding the investment you are going to make. This includes studying companies’ annual reports, accounts and other statements while keeping abreast of what is happening in the said sector or industry. Consult your investment adviser/ stockbroker to get the latest market information about shares you wish to buy or sell. Do not buy into rumours or be pressured by anyone’s grave but unfounded recommendations before making an investment decision.</p><br />

        <h6 style="font-size:100%;color:white;font-family:arial;">4-Think Long Term:</h6>

        <p style="margin-left:290px;margin-right: 290px;">
            Investment in shares does not necessarily result in instant yields. Do not invest any money which you may need immediately, since the price of shares can go up and down. Studies have shown that investments properly timed and based on strong fundamentals have been proved to be very profitable for investors in the longer term.
        </p><br />

    </div>

</div>

<script>
    var myIndex = 0;
     carousel();
function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++)
    {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 5000);
}
</script>
<style>
    .m{
        text-align:center;
        font-family:Arial;
        color:white;
        font-size:20px;

    }
   
</style>