
@{
    ViewData["Title"] = "Managestock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="b">

    <img src="~/images/logo.jpg" style="width:15%;height:203px;float:left;margin-right:-134px;padding-top: 22px;">   <p style="font-size:250%;color:white;font-family:arial;text-align:center;margin-top:-22px;padding-bottom:13px;padding-top:80px">Loss Prevention In Stock Market</p>
    <div>
        <ul class="navlist">
            <li> <a asp-controller="Home" asp-action="Index">VIEW LIVE STOCK  ></a></li>
            <li> <a asp-controller="Home" asp-action="Buystock">BUY STOCK  ></a></li>
            <li><a asp-controller="Home" asp-action="Selldata">SELL STOCK  ></a></li>
            <li><a asp-controller="Home" asp-action="Managestock">MARKET TRENDS  ></a></li>
            <li><a asp-controller="Home" asp-action="Aboutus">ABOUT US  ></a></li>
            <li> <a asp-controller="Home" asp-action="Login" onclick="logout()">LOGOUT  ></a></li>
        </ul>
    </div>
</div>
<div class="back">
    <h6>Stock Predictions </h6>

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:-22px;">Service Industries Forecast</p>
    <img src="../images/Service Industries.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">HBL Investment Fund Forecast</p>
    <img src="../images/HBL Investment Fund.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Sazgar Engineering Works Forecast</p>
    <img src="../images/Sazgar Engineering Works.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Meezan Bank Forecast</p>
    <img src="../images/Meezan Bank.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Pakistan Oxygen Ltd Forecast</p>
    <img src="../images/Pakistan Oxygen Ltd.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Pakistan Cables Ltd Forecast</p>
    <img src="../images/Pakistan Cables Ltd.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Pak Suzuki Motors Co Ltd Forecast</p>
    <img src="../images/Pak Suzuki Motors Co Ltd.png" alt="true.jpg" style="width:100%;height:400px;">
    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Pak Elektron Ltd Forecast</p>

    <img src="../images/Pak Elektron Ltd.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Exide Pakistan Forecast</p>
    <img src="../images/Exide Pakistan.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Orix Leasing pakistan.Ltd Forecast</p>
    <img src="../images/Orix Leasing pakistan.Ltd.png" alt="true.jpg" style="width:100%;height:400px;">


    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Bank Alflah Forecast</p>
    <img src="../images/Bank Alflah.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Bata Industries Forecast</p>
    <img src="../images/Bata Industries.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Millat Tractors Limited Forecast</p>
    <img src="../images/Millat Tractors Limited.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Shifa Int Hospital LTD Forecast</p>
    <img src="../images/Shifa Int Hospital Ltd.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">WAVES Singer Pakistan Ltd Forecast</p>
    <img src="../images/WAVES Singer Pakistan Ltd.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Pioneer Cement Forecast</p>
    <img src="../images/Pioneer Cement.png" alt="true.jpg" style="width:100%;height:400px;">

    <p style="font-size:230%;color:white;font-family:arial;text-align:center;margin-top:22px;">Pakistan Petroleum Limited Forecast</p>
    <img src="../images/Pakistan Petroleum Limited.png" alt="true.jpg" style="width:100%;height:400px;">


</div>
